/* Uncomment mo to if may design ka sa header
.header {
  display: flex;
}
*/

/* Uncomment mo to if may design ka sa main 
.main {
  display: flex;
}
*/

/* Uncomment mo to if may design ka sa footer
.footer {
  display: flex;
}
*/ 

/* Insert your style here */
