

/* ============= Numbers Section ================ */

.number-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.selected {
    background: #f97316;
    color: white;
    padding: 12px 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.empty {
    background: #feca7f;
    padding: 12px 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

.buttons {
    padding: 0 0 2rem 0;
    display: flex;
    gap: 50px; 
    justify-content: center; 
    align-items: center;
}

.reset-btn, .submit-btn {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    display: inline-block; 
}

/* ============= Reset button ============== */

.reset-btn {
    padding: 20px 0 0 0;
    width: 200px; 
    height: 100px; 
    background-image: url('https://res.cloudinary.com/dakq2u8n0/image/upload/v1740578440/Screenshot_2025-02-26_215837-removebg-preview_i5vrm6.png');
    background-color: transparent;
}

.submit-btn {
    padding: 0 0 10px 0 ;
    width: 200px; 
    height: 100px; 
    background-image: url('https://res.cloudinary.com/dakq2u8n0/image/upload/v1740578716/image-removebg-preview_4_hitxcj.png');
    background-color: transparent;
}

/* =========== Players and Winners Section ================*/

.players-winners-container {
    display: flex; 
    gap: 30px; 
    justify-content: left; 
    align-items: flex-start; 
}

.players-winners-container .player {
    justify-content: left; 
}

.players-winners-container .winners {
    justify-content: right; 
}

.players {
    gap: 30px;
}

.player {
    background-color: #FFFCF4;
    width: 300px;
    margin: 15px 0;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    align-content : left;
}

.player-name {
    color: #463000;
    padding: 10px;

}


.winners {
    background: #ffcc80; /* Orange background */
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 250px; /* Fixed width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Allows absolute positioning */
}

/* Styling for the image above */
.winner-icon {
    width: 70px; /* Adjust size */
    position: absolute;
    top: -40px; /* Moves it above the card */
    left: 50%;
    transform: translateX(-50%);
}

/* Winner Title */
.winners h4 {
    font-size: 1.2rem;
    color: #664000;
}

/* Horizontal Line */
.winners hr {
    border: none;
    height: 2px;
    background: #664000;
    margin: 10px auto;
    width: 80%;
}

/* Winner Name */
.winners p {
    font-size: 1.2rem;
    color: #332100;
}









